<h1>¡Hola, Rails!</h1>
<%= link_to 'Nuevo Articulo', new_articulo_path %>

<table>
  <tr>
    <th>Titular</th>
    <th>Contenido</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articulos.each do |articulo| %>
    <tr>
      <td><%= articulo.titular %></td>
      <td><%= articulo.contenido %></td>
      <td><%= link_to 'Ver', articulo_path(articulo)%></td>
      <td>><%= link_top 'Editar',edit_articulo_path(articulo)%></td>  
  </tr>
  <% end %>
</table>